* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.bodyResults{
    height: auto;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Background */
.bg-animation {
    position: absolute;
    width: 200%;
    height: 250%;
    background: linear-gradient(45deg,
        #1d2671,
        #c33764,
        #667eea,
        #764ba2
    );
    background-size: 400% 400%;
    animation: gradientMove 15s ease infinite;
    z-index: -2;
}

.bg-animation::before,
.bg-animation::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background: rgba(255,255,255,0.15);
    border-radius: 50%;
    filter: blur(80px);
    animation: float 10s infinite alternate;
}

.bg-animation::after {
    width: 400px;
    height: 400px;
    right: 10%;
    bottom: 20%;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes float {
    from { transform: translate(0,0); }
    to { transform: translate(60px,-80px); }
}

/* Home Page */
.start-container {
    height: fit-content;
    text-align: center;
    background: rgba(255,255,255,0.12);
    padding: 60px 50px;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.start-container h1, .start-container p{
    margin-bottom: 40px ;
}

.start-btn {
    padding: 15px 45px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    background: white;
    color: #764ba2;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.start-btn:hover {
    transform: scale(1.1);
}

/* Quiz Card */
.quiz-container {
    width: 700px;
    background: rgba(255,255,255,0.12);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    text-align: center;
}

/* Progress Bar */
.progress-bar {
    height: 20px;
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
    margin-bottom: 25px;
}

.progress-fill {
    height: 100%;
    width: 10%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.buttonsDiv{
    margin-top: 50px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.nextBtn, .previousBtn{
    border: none;
    padding: 7px 15px;
    border-radius: 7px;
    font-size: 1.1rem;
    cursor: pointer;
}

/* Options */
.options {
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.answerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0 14px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    transition: all ease-in-out 0.15s;
}

.answerDiv:hover{
    scale: 1.05;
}

.answerDiv input{
    margin-right: 10px;
}

.answerDiv p{
    color: black;
}

.option-btn {
    padding: 14px;
    border-radius: 25px;
    border: none;
    background: white;
    color: #764ba2;
    font-weight: 600;
    cursor: pointer;
}

.scoreText{
    font-size: 4rem;
    margin-top: 10px;
}

.scoreResult{
    font-size: 3rem;
    color: rgb(0, 195, 255);
}

.answerResultDiv{
    background-color: white;
    color: white;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.correct{
    background-color: rgb(0, 196, 0);
}

.wrong{
    background-color: red;
}